/* CSS-Referenz: https://www.wix.com/velo/reference/$w/styling-elements-with-css */
 
/* Diese CSS Styles werden global auf jede Seite dieser Website angewendet. Schreiben dein CSS hier, z. B.: */ 

 /* Ändere die Hintergrundfarbe des Buttons zu Rot: */ 
 /* .button {
    background-color: red;
} */

.lightbox_map {
    width: 100vw;
    height: 100vh;
}

.month-nav {
  cursor: pointer;
  color: black;
}

.month-nav:hover {
  color: red;
}
a,
.wixui-rich-text__text a {
  transition: color 0.3s ease-in-out !important;
  /*text-decoration: none;*/
}

a:hover,
.wixui-rich-text__text a:hover {
  transition: color 0.3s ease-in-out !important;
  color: #E85A2A !important;
}
[data-mesh-id*="DocumentItem"],
.wixui-file-item a,
.wixui-file-item {
  transition: all 0.3s ease-in-out !important;
}

.wixui-file-item:hover [data-testid="file-item-title"],
.wixui-file-item:hover .wixui-file-item__title,
.wixui-file-item:hover i {
  color: #E85A2A !important;
  transition: color 0.3s ease-in-out !important;
}

/* Falls du das Icon im Dokument-Element auch färben willst */
.wixui-file-item:hover svg {
  fill: #E85A2A !important;
  transition: fill 0.3s ease-in-out !important;
}